
/** MODAL */

input[type="checkbox"] {
  display:none;
}
input[type="checkbox"]:checked ~ .modal-background {
  display: block;
}
input[type="checkbox"]:checked ~ .modal {
  display: flex;
}
.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 9999;
  flex-direction: column;
  overflow-y: hidden;
}
.modal > p {
  padding: 15px;
  margin: 0;
}
.modal-header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  height: 50px;
}
.modal-header h3 {
  margin: 0;
  box-sizing: border-box;
  padding-left: 15px;
  line-height: 50px;
  color: #4d4d4d;
  font-size: 16px;
  display: inline-block;
}
.modal-header label {
  box-sizing: border-box;
  border-left: 1px solid #dddddd;
  float: right;
  line-height: 50px;
  padding: 0 15px 0 15px;
  cursor: pointer;
}
.modal-header label:hover img {
  opacity: 0.6;
}
.modal-body {
  height: 100%;
}

/* below is optional, it is just an example for the blue button */
.example-label {
  box-sizing: border-box;
  display: inline-block;
  margin: 1.5rem 0;
  padding: 0.75rem 4rem;
  background-color: #375d91;
  color: #f9f9f9;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.example-label:hover {
  background-color: #3c669f;
}
