<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }} | Mithril by Examples</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/modal.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/highlight/styles/atom-one-dark.min.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script src="https://flems.io/flems.html" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if page.url.indexOf(entry.url) == 0 %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    <footer>
      {% set regExp = r/\/examples\/.+/g %}
      {% if regExp.test(page.url) %}
      <div class="github-edit-link">
        <a target="_blank" href="https://github.com/tbreuss/mithril-by-examples/blob/main/{{ page.inputPath }}">Edit this example on GitHub</a>
      </div>
      {% endif %}
    </footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
  <script src="{{ '/css/highlight/highlight.min.js' | url }}"></script>
  <script>hljs.highlightAll();</script>
</html>
