<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="tAP5VtcpL3YMRki-uW5DJlXlu8kQSqCRKVHZTHBmhkQ" />
    <title>{{ title or metadata.title }} | Mithril by Examples</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url | bust }}">
    {%- if layout == 'layouts/example.html' %}
    <link rel="stylesheet" href="{{ '/css/modal.css' | url | bust }}">
    <link rel="stylesheet" href="{{ '/css/highlight/styles/atom-one-dark.min.css' | url | bust }}">
    <script src="https://flems.io/flems.html" type="text/javascript" charset="utf-8"></script>
    {%- endif %}
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if page.url.indexOf(entry.url) == 0 %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>
    <main class="content {% if templateClass %}{{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>
    <footer></footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
  <script src="{{ '/css/highlight/highlight.min.js' | url }}"></script>
  <script>hljs.highlightAll();</script>
</html>
