---
layout: layouts/base.html
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<p>
  <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  {%- if author %}
  {%- set contributorUrl %}/contributors/{{ author | slug }}/{% endset -%}
  <span class="author">
    by&nbsp;<span class="author"><a href="{{ contributorUrl | url }}">{{ author }}</a></span>
  </span>
  {%- endif %}
</p>

{%- if (level) or (version) %}
<p style="margin-top:-1em">
  {%- if level %}Level: <span class="level">{{ level }}</span>{%- endif %}
  {%- if version %} • Mithril Version: <span class="version">{{ version }}</span>{%- endif %}
</p>
{%- endif %}

<p>
  {%- for tag in tags | filterTagList | sort -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endfor %}
</p>

{%- set authorSlug %}/contributors/{{ author | slug }}/{% endset -%}
{{ "" | textifyTop(title, date | readableDate, tags, level, version, author, authorSlug | url) | safe }}

{{ content | add_link_to_flems(title, flems.selected, flems.files, flems.links, version) | safe }}

{{ "" | textifyBottom(title, date | readableDate, tags, level, version, author, authorSlug | url) | safe }}

<p>
  <a href="{{ '/examples/' | url }}">See more code examples</a>
  &nbsp;|&nbsp; <a target="_blank" href="https://github.com/tbreuss/mithril-by-examples/blob/main/{{ page.inputPath }}">Edit this example on GitHub</a>
</p>
