---
permalink: /api/contributors.json
eleventyExcludeFromCollections: true
---
[
  {%- for key, author in collections.authorMap | sort %}
  {%- set authorUrl %}/contributors/{{ author.name | slug }}/{% endset %}
    {
      "name": "{{ author.name }}",
      "examples": {{ author.count }},
      "url": "{{ authorUrl | url }}"
    }{{ '' if loop.last else ',' }}
  {%- endfor %}
]
