---
permalink: /api/examples.json
eleventyExcludeFromCollections: true
---
[
  {%- for page in collections.examples %}
  {%- set data = page.data %}
    {
      "title": "{{ data.title }}",
      "date": "{{ page.date | htmlDateString }}",
      "tags": {{ data.tags | stringify | safe }},
      "level": "{{ data.level }}",
      "version": "{{ data.version }}",
      "author": "{{ data.author }}",
      "url": "{{ page.url }}"
    }{{ '' if loop.last else ',' }}
  {%- endfor %}
]
