---
permalink: /api/tags.json
eleventyExcludeFromCollections: true
---
[
  {%- for key, tag in collections.tagMap | sort %}
  {%- set tagUrl %}/tags/{{ tag.name | slug }}/{% endset %}
    {
      "name": "{{ tag.name }}",
      "examples": {{ tag.count }},
      "url": "{{ tagUrl | url }}"
    }{{ '' if loop.last else ',' }}
  {%- endfor %}
]
